<a href="https://colab.research.google.com/github/Gocrazy53/InternshipBootcamp/blob/main/NotesForDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#first importing panda library
import pandas as pd
titanic_csv = pd.read_csv('github-raw-link');
titanic_xlsx = pd.read_xlsx('github-raw-link');
titanic_json = pd.read_json('github-raw-link');
titanic_html = pd.read_html('github-raw-link');

# For printing first 5 rows
titanic.head()

#For printing last 5 rows
titanic.tail()


# For printing the complete information about the data in columns heading
titanic.info()

#display summary stats of numerical columns
titanic.describe()

#display summary stats of all columns
titanic.describe(include = 'all')

# display shape
titanic.shape()

#display column labels
titanic.columns

#select a column as a series
titanic['sex']
titanic['sex'].shape

# select a column as a data frame
titanic[['sex']]
titanic[['sex']].shape

#unique categories in a column
titanic['sex'].unique()

#Number of unique categories in a column
titanic['sex'].nunique()

# categories wise number of observations in a column
titanic['sex'].value_counts()


#count of missing values
titanic.isna().sum()
titanic.isnull().sum()